name: Publish Docker
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Publish to Registry
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: chanok9417/buldang_bab_kakao-i
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          dockerfile: Dockerfile
          snapshot: true
      - name: Discord notification
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        uses: Ilshidur/action-discord@master
        with:
          args: '{{ EVENT_PAYLOAD.repository.full_name }} 프로젝트가 배포되었습니다.'
      - name: send custom message
        uses: appleboy/facebook-action@master
        with:
          fb_page_token: ${{ secrets.FB_PAGE_TOKEN }}
          fb_verify_token: ${{ secrets.FB_VERIFY_TOKEN }}
          to: ${{ secrets.FB_TO }}
          args: The ${{ github.event_name }} event triggered first step.